.layout {
  min-height: 100vh;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    'header header'
    'sidebar main'
    'footer footer';
  background: var(--color-bg);
}

.main {
  grid-area: main;
  padding: 24px 32px;
  overflow: auto;
}

@media (max-width: 767px) {
  .main {
    padding: 12px 12px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .main {
    padding: 20px 20px;
  }
}
