.layout {
  min-height: 100vh;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    'header header'
    'sidebar main'
    'footer footer';
  /* background: var(--color-bg); */
  /* background:
  radial-gradient(circle at top left, #c8b6ff33, transparent 30%),
  radial-gradient(circle at bottom right, #7aa2ff22, transparent 30%),
  linear-gradient(to bottom, #f7f7fb, #ececf5); */
}

.main {
  grid-area: main;
  padding: 24px 32px;
  overflow: auto;
}

@media (max-width: 767px) {
  .main {
    padding: 12px 12px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .main {
    padding: 20px 20px;
  }
}
